<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="4" android:versionName="1.0.2" package="com.companyname.separationtrainer" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="29" android:targetSdkVersion="33" />
	<application android:label="Separation Trainer" android:theme="@style/MainTheme" android:icon="@mipmap/icon"></application>
	<uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
</manifest>